---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { getPageTitle } from "@/utils";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={getPageTitle("Посты")} description="Все посты" />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        margin: 0.6rem 0;
      }
      ul li .time {
        font-style: italic;
        color: #727272;
      }
      ul li a:visited {
        color: #a048ec;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts
              .slice()
              .reverse()
              .map((post) => (
                <li>
                  <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
                  <p class="time">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </li>
              ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
