---
import BlogPost from '@/layouts/BlogPost.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '@/components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
)
---

<BlogPost
  data={{
    title: 'Посты',
    description: 'Мои посты',
  }}
  isShowDate={false}
>
  <ul class="p-0 flex flex-col gap-4 md:gap-0">
    {
      posts
        .slice()
        .filter((post) => !post.data.draft)
        .reverse()
        .map((post) => (
          <li class="gap-x-2 flex flex-col md:flex-row">
            <span class="block opacity-70 text-sm">
              <FormattedDate date={post.data.date} />
            </span>
            <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
    }
  </ul>
</BlogPost>
