---
import BlogPost from '@/layouts/BlogPost.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '@/components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
)
---

<BlogPost
  data={{
    title: 'Посты',
    description: 'Мои посты',
  }}
  isShowDate={false}
>
  <ul>
    {
      posts
        .slice()
        .reverse()
        .map((post) => (
          <li class="m-0 my-2">
            <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
            <span class="block not-italic opacity-70">
              <FormattedDate date={post.data.date} />
            </span>
          </li>
        ))
    }
  </ul>
</BlogPost>
