/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* @font-face {
  font-family: 'Inconsolata-Regular';
  src: url('/Inconsolata-Regular.ttf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('/Inconsolata-Bold.ttf');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
} */

@font-face {
  font-family: "JetBrains Mono";
  src: url("/JetBrainsMono-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/JetBrainsMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/JetBrainsMono-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/JetBrainsMono-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

* {
  @apply box-border;
}

*:focus-visible {
  @apply outline-1 outline-neutral-7 dark:outline-neutral-4 outline-dashed outline-offset-1;
}

p {
  @apply m-0 mt-2;
}

html {
  @apply;
}

body {
  @apply bg-slate-50 text-neutral-800 dark:(bg-dark-500 text-neutral-300) font-mono m-0 break-words flex flex-col min-h-screen;
}

.container {
  @apply ma max-w-4xl p-4;
}

header,
footer {
  @apply bg-slate-500/6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

footer {
  @apply shadow-b-2 text-sm;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
  @apply my-[0.4em] font-400;
}

:where(h1, h2, h3):not(.pageInfo :where(h1, h2, h3)) {
  @apply mt-[2em];
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

/* a:visited {
  color: #a048ec;
}

@media (prefers-color-scheme: dark) {
  a:visited {
    color: #c589fa;
  }
} */

html body a,
.link_without_visited_color:visited {
  @apply text-primary-600 hover:text-primary-400 dark:(text-primary-400 hover:text-primary-300) transition-50 transition-colors;
}

.link_without_effects {
  @apply active:text-inherit hover:text-inherit focus:text-inherit visited:text-inherit text-inherit no-underline outline-none focus:outline-none;
}

nav a {
  @apply mr-3;
}

table {
  @apply w-full;
}

img {
  @apply max-w-full h-auto;
}

code {
  @apply py-0.5 px-1 bg-neutral-400/23 text-[0.8em] font-inherit;
}

pre>code {
  @apply p-0 bg-transparent font-mono;
}

table {
  @apply block overflow-x-auto border-collapse text-left;
  white-space: nowrap;
}

table :where(td, th) {
  @apply p-1 px-2 border-neutral/60 dark:(border-neutral-600) border-1px border-solid;
}

table :where(th) {
  @apply bg-neutral/24 dark:(bg-neutral/20);
}

table :where(td) {
  @apply bg-neutral/10 dark:(bg-neutral/6);
}

.articleContent>p {
  @apply text-justify;
}

.articleContent>* {
  @apply mx-0 my-3;
}

.articleContent>p {
  @apply mx-0 my-4;
}

.articleContent :where(img, .embed) {
  @apply mt-2 block border-1px border-solid border-primary-600 w-auto;
}

.articleContent :where(img, .embed).no-border-img-or-embed {
  @apply border-none;
}

:where(ol, ul) li {
  @apply mx-0 my-1.8;
}

.articleContent :where(img, .embed)+em {
  @apply not-italic opacity-80 text-sm block mb-4 mt-1;
}

.headingLink {
  @apply mr-1;
}

summary {
  @apply cursor-pointer;
}

.katex-display {
  @apply border-1px border-solid border-primary-600;
}

.katex-display .katex-html {
  @apply block overflow-x-auto p-4;
}

html body :where(.alert_content, blockquote)>p {
  @apply m-0 p-0;
}

blockquote {
  @apply border-primary-600 border-solid p-4 italic border-0 border-l-6px bg-primary-500/20;
}

.expressive-code {
  @apply p-0 mt-2;
}

.expressive-code figure.frame {
  @apply border-1px border-solid border-primary-600 rounded-0 shadow-none;
}

.expressive-code figure.frame pre {
  @apply rounded-0 sm:text-wrap;
}

img[src*='#left'] {
  @apply sm:mr-6 sm:float-left;
}

img[src*='#right'] {
  @apply sm:ml-6 sm:float-right;
}

img[src*='#center'] {
  display: block;
  margin: auto;
}
