/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
  font-family: 'Cascadia Code';
  src: url('/CascadiaCode.woff2');
}

p {
  margin-top: 0.5rem;
}

body {
  @apply ma max-w-5xl p-5;
  @apply bg-neutral-50 text-neutral-800 dark:(bg-neutral-800 text-neutral-200) font-mono;
  @apply break-words;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

a {
  @apply text-primary-6 hover:text-primary-4 active:text-primary-7
  dark:(text-primary-5 hover:text-primary-3 active:text-primary-6);
}

*:focus {
  @apply outline-2 outline-neutral-7 dark:outline-neutral-4 outline-dashed outline-offset-2;
}

nav a {
  @apply mr-3;
}

table {
  @apply w-full;
}

img {
  @apply max-w-full h-auto;
}

code {
  @apply py-0.5 px-1 bg-neutral-4/23;
}

pre {
  @apply p-4;
}

pre > code {
  @apply p-0 bg-transparent font-mono;
}

blockquote {
  @apply p-4 border-1px border-solid border-neutral italic;
}

blockquote > * {
  @apply m-0 p-0;
}

table {
  @apply block overflow-x-scroll border-collapse text-left;
  white-space: nowrap;
}

table :where(td, th) {
  @apply p-1.6 border-neutral border-1px border-solid;
}

article > * {
  @apply mx-0 my-4;
}

.astro-code {
  @apply text-sm;
}

article img {
  @apply mt-2 block border-1px border-solid border-primary-6 w-auto;
}

:where(ol, ul) li {
  @apply mx-0 my-2.4;
}

article img + em {
  @apply not-italic opacity-80 text-sm block text-center mb-4 mt-1;
}

.headingLink {
  @apply mr-1;
}

summary {
  @apply cursor-pointer;
}

.astro-code {
  @apply mt-2 bg-neutral-800! border-1px border-solid border-primary-6;
}
