/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --c-primary: rgb(39, 121, 255);
  --c-primary-light: rgb(101, 160, 255);
  --c-primary-dark: rgb(0, 85, 221);

  --c-fg: rgb(31, 31, 31);
  --c-bg: rgb(250, 250, 250);

  --table-head-row-bg: rgba(214, 214, 214, 0.5);
  --table-body-row-odd-bg: rgba(236, 236, 236, 0.5);
  --table-body-row-even-bg: rgba(214, 214, 214, 0.5);
  --table-cell-border-color: rgba(134, 134, 134, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-fg: rgb(192, 192, 192);
    --c-bg: rgb(31, 31, 31);

    --table-head-row-bg: rgba(85, 85, 85, 0.5);
    --table-body-row-odd-bg: rgba(124, 124, 124, 0.5);
    --table-body-row-even-bg: rgba(85, 85, 85, 0.5);
  }
}

body {
  margin: auto;
  padding: 20px;
  max-width: 44rem;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  background: var(--c-bg);
  color: var(--c-fg);
}

a {
  color: var(--c-primary);
}

a:hover {
  color: var(--c-primary-light);
}

a:active {
  color: var(--c-primary-dark);
}

*:focus {
  outline: var(--c-fg) 1px dashed;
}

nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: rgba(138, 138, 138, 0.231);
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 1rem;
  border: 1px solid rgb(153, 153, 153);
  font-style: italic;
}

table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  border-collapse: collapse;
}

table thead tr {
  background: var(--table-head-row-bg);
}

table tbody tr:nth-child(odd) {
  background: var(--table-body-row-odd-bg);
}

table tbody tr:nth-child(even) {
  background: var(--table-body-row-even-bg);
}

table :where(td, th) {
  padding: 0.4rem;
  margin: 0;
  border: var(--table-cell-border-color) solid 1px;
}

article > * {
  margin: 1rem 0px;
}

.astro-code {
  font-size: 0.9rem;
  /* font-family: 'Cascadia Code', 'Jetbrains Mono', 'Source Code Pro', monospace; */
}

ol,
ul {
  margin-left: 1.4rem;
}

article img {
  display: block;
  border: 1px solid #4d91ff;
  width: auto;
}

:where(ol, ul) li {
  margin: 0.6rem 0;
}

article img + em {
  font-style: normal;
  opacity: 0.7;
  font-size: 0.9em;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

.headingLink {
  margin-right: 0.2em;
}

summary {
  cursor: pointer;
}

.astro-code {
  background-color: #202020 !important;
}
