---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
  description: "Страница не найдена",
  title: "404",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">404 | Случился АКЫН</h1>
  <p class="mb-8 text-lg">
    Страница не найдена. Возможно её скрали неопознанные летающие тарелы или просто инопришчленцы.
  </p>
  <p class="mb-8"><a class="cactus-link" href="/">Вертайте меня взад</a></p>
  <div class="my-4 grid justify-center">
    <a class="cactus-link" href="/">
      <Image
        alt="A cartoon cactus looking at the 'Astro.build' logo"
        class="rotate-180"
        loading="eager"
        src={aboutImg}
      />
    </a>
  </div>
</PageLayout>
