---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="404">
  <div class="flex flex-col justify-center items-center text-center">
    <h1 class="text-8xl">404</h1>
    <p>Страница не найдена ¯\_(ツ)_/¯</p>
    <p><a href="/">На главную</a></p>
  </div>
</BaseLayout>
