---
import Layout from "@/layouts/BlogPost.astro";
import { getPageTitle } from "@/utils";
---

<Layout
  title={getPageTitle("О сайте")}
  description="О сайте и обо мне"
  pubDate={new Date("May 24 2023")}
>
  <p>Я Иван Музы́ка.</p>

  <p>
    На этом сайте я публикую свои новости, статьи, памятки, ссылки на видео с
    YouTube канала и прочее.
  </p>

  <p>
    Все мои контакты находятся на странице <a href="/contacts">Контакты</a>.
  </p>

  <p>
    Вся информация о IT навыках и портфолио - на <a
      href="https://github.com/SeryiBaran">Github</a
    >.
  </p>
</Layout>
