---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Разная инфа обо мне, моих проектах и навыках",
  title: "Кто я",
};
---

<PageLayout meta={meta}>
  <div>
    <h1 class="title mb-6">Кто я</h1>

    <p class="mb-4">
      Муз<span class="text-2xl">ы́</span>ка (ударение именно на Ы) Иван Викторович, родился 2008-10-15T15:00:00.000+03:00,
      делает всякую <span class="text-[1px]">хуйню</span>всякость и радуется. А вообще Frontend
      разраб увлекающийся всем и всеми что под руку попадется. Комплектация стандартная. Инструкция
      не присутствует. Угарает по одноплатникам и homelab'ам. Ну и по числу пи - хоть и не заучивает много цифр, всего 52.
    </p>
    <p class="mb-4">
      Этот сайт основан на <a class="cactus-link" href="https://github.com/chrismwilliams/astro-theme-cactus" target="_blank">Astro Cactus</a>. А вообще, на чем он только не был основан, и на Jekyll, и на Astro, и на html+css <span class="text-[1px]">в уёбищном виде</span>... Можете посмотреть все это <a class="cactus-link" href="/posts/site_history">здесь</a>.
    </p>

    <h2 class="title mb-4 text-xl">Характеристики</h2>

    <ul class="mb-4 list-inside list-disc">
      <li>Есть ноги (юзаю масдай (Windows (Microsoft Windows)))</li>
      <li>Есть логика</li>
      <li>Люблю кошек, сов, математику, Mindustry, Cataclysm: DDA и слово АКЫН</li>
      <li>Умею в HTML</li>
      <li>Умею в CSS3, SASS, PostCSS, Tailwind, UnoCSS</li>
      <li>Умею в JavaScript, TypeScript</li>
      <li>А компот?</li>
      <li>И компот:</li>
      <li>Умею в Vue.js, Pinia</li>
      <li>Умею в ESlint, Prettier</li>
      <li>Умею в Vite, Rollup, Vitest, Jest</li>
      <li>Умею в Astro</li>
      <li>Умею писать расширения (Manifest V2/V3) и Telegram боты (GrammY.js)</li>
      <li>Умею в Терминал, Git, PowerShell, немного Bash</li>
      <li>Умею в квантовую физику (знаю слово атом)</li>
      <li>Умею в писать "Умею в"</li>
      <li>
        Умею в Написать по памяти <code>3.1415926535897932384626433832795028841971693993751058</code> (сходить
        с ума)
      </li>
      <li>Кто-нибудь, напомните, что такое "Умею в"?</li>
    </ul>

    <p class="mb-4">
      <span class="text-lg">ПАРАВОЗНЫЙ КАКТУС</span><span class="text-xs">(чё?)</span>
    </p>

    <h2 class="title mb-4 text-xl">Что я <del>на</del>делал/форкнул</h2>

    <p>Разное:</p>
    <ul class="mb-4 list-inside list-disc">
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/govnosite"
          >Говносайт</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/maket-web-dev-project"
          >Макет &quot;Web Development Project&quot;</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/maket-agency"
          >Макет &quot;Agency&quot;</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/telehumpter"
          >Пародия на Twitter - Telehumpter</a
        >
      </li>
      <li><a class="cactus-link" href="https://github.com/SeryiBaran/todo-vue">Todo на Vue</a></li>
      <li>
        <a class="cactus-link" href="https://github.com/f5ociety/Bridge-of-Liberty"
          >Сайт для проекта Мост Свободы</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/Privacy-Search-Companion"
          >Firefox расширение Privacy Search Companion</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/SBStartpage"
          >Простая стартовая страница для браузера</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/PSC-site"
          >Сайт для проекта Privacy Search Companion</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/seryibaran.github.io"
          >Свой сайт</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/generated-calc"
          >Генератор немного неоптимизированного калькулятора</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/tailvue-starter"
          >Стартовый шаблон Vue + TypeScript</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/yt-dlp-python-gui"
          >GUI для Yt-dlp</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/ffmpeg_installer"
          >Установщик FFmpeg для Windows</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/snowbowles-script"
          >ТЯПСССС: Транспилируемый язык программирования &quot;snowbowles-script (SNOWBOWLEScript)&quot;</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/encoding-visualization"
          >Визуализация текста в разных кодировках в терминале</a
        >
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/test-picture-generator"
          >Доработанный генератор простых картинок для проверки дисплея (feat. fknipp)</a
        >
      </li>
    </ul>
    <p>TG боты:</p>
    <ul class="mb-4 list-inside list-disc">
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/telegram-clicker"
          >Игра-кликер в виде TG бота (DEPRECATED)</a
        > (и её <a class="cactus-link" href="https://github.com/seryibaran/teleclicker-web"
          >порт в Web</a
        >)
      </li>
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/code-colorizer-bot"
          >TG бот создающий красивый скриншот кода из сообщения</a
        >
      </li>
    </ul>
    <p>Docker:</p>
    <ul class="mb-4 list-inside list-disc">
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/drone-gitea-on-docker"
          >Форк примера Gitea + Drone</a
        >
      </li>
    </ul>
    <p>Электроника:</p>
    <ul class="mb-4 list-inside list-disc">
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/ardustat">Термостат на Arduino</a
        >
      </li>
    </ul>
    <p>VSCode:</p>
    <ul class="mb-4 list-inside list-disc">
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/platformio-big-buttons"
          >Большие удобные кнопки для PlatformIO</a
        >
      </li>
    </ul>
    <p>Mindustry:</p>
    <ul class="mb-4 list-inside list-disc">
      <li>
        <a class="cactus-link" href="https://github.com/SeryiBaran/mindustry_sbbus"
          >Шина данных для Mindustry</a
        >
      </li>
    </ul>
  </div>
  <p>
    И ещё много интересного/неинтересного <a
      class="cactus-link"
      href="https://github.com/SeryiBaran?tab=repositories">тут</a
    >.
  </p>
</PageLayout>
