---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard, { type FakeProject } from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
// import { getAllProjects } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import clsx from 'clsx'

// const projects = await getAllProjects()

function shit(src: string): CollectionEntry<'projects'>['data']['image'] {
  // @ts-ignore
  return src as unknown as CollectionEntry<'projects'>['data']['image']
}

const projects: FakeProject[] = [
  {
    data: {
      name: 'Макет агенства',
      description: 'Довольно большой макет сайта с анимациями.',
      tags: ['Vue', 'UnoCSS'],
      image: shit('/projects/maket-squareup-agency.webp'),
      link: 'https://seryibaran.github.io/maket__agencyvue',
    },
  },
  {
    data: {
      name: 'Лендинг',
      description: 'Лендинг с анимациями при скролле',
      tags: ['Vanilla'],
      image: shit('/projects/maket-landing.webp'),
      link: 'https://seryibaran.github.io/maket-web-dev-project/',
    },
  },
  {
    data: {
      name: 'Простой лендинг',
      description: '',
      tags: ['Vanilla'],
      image: shit('/projects/maket-first.webp'),
      link: 'https://seryibaran.github.io/maket-agency/',
    },
  },
  {
    data: {
      name: 'Список каналов для Смотрёшки',
      description:
        'То что сделали оригинальные разрабы на своем сайте не понравилось, написал свое',
      tags: ['Vue', 'UnoCSS'],
      image: shit('/projects/smotreshka-list.webp'),
      link: 'https://seryibaran.github.io/smotreshka_list',
    },
  },
  {
    data: {
      name: 'Сайт-README для проекта "Privacy Search Companion"',
      description: '',
      tags: ['Vue', 'Tailwind'],
      image: shit('/projects/psc.webp'),
      link: 'https://seryibaran.github.io/PSC-Site/',
    },
  },
  {
    data: {
      name: 'Генератор картинок для теста монитора',
      description: '',
      tags: ['Vanilla', 'Canvas'],
      image: shit('/projects/dtpg.webp'),
      link: 'https://seryibaran.github.io/test-picture-generator/',
    },
  },
  {
    data: {
      name: 'DYDown',
      description: 'GUI для yt-dlp на Delphi',
      tags: ['Delphi'],
      image: shit('/projects/dydown.webp'),
      link: 'https://seryibaran.github.io/404',
    },
  },
  {
    data: {
      name: 'Стартовая страница для браузера',
      description: '',
      tags: ['Vanilla'],
      image: shit('/projects/sbstartpage.webp'),
      link: 'https://seryibaran.github.io/SBStartpage/',
    },
  },
]

const skillsGroupsNamesMap = {
  skillsGroups: 'Хард скилы',
  learningSkillsGroups: 'Изучаю',
} as const

interface Skill {
  title: string
  icon?: string
  beginner?: boolean
  showTitle?: boolean
}

// prettier-ignore
const hardSkillsGroups: Skill[][] = [
  [
    { showTitle: true, title: "HTML5, Семантика", icon: "skill-icons:html" },
  ],
  [
    { showTitle: false, title: "CSS3", icon: "skill-icons:css" },
    { showTitle: false, title: "SaSS", icon: "skill-icons:sass" },
    { showTitle: false, title: "PostCSS", icon: "logos:postcss" },
    { showTitle: false, title: "Tailwind/UnoCSS", icon: "skill-icons:tailwindcss-dark" },
    { showTitle: false, title: "Bootstrap", icon: "skill-icons:bootstrap" },
  ],
  [
    { showTitle: true, title: "JavaScript ES5/6/2022+", icon: "skill-icons:javascript" },
    { showTitle: false, title: "TypeScript", icon: "skill-icons:typescript" },
  ],
  [
    { showTitle: false, title: "Jquery", icon: "skill-icons:jquery" },
    { showTitle: false, title: "AlpineJS", icon: "skill-icons:alpinejs-dark" },
    { showTitle: false, title: "ThreeJS", icon: "skill-icons:threejs-dark" },
    { showTitle: false, title: "RxJS", icon: "skill-icons:reactivex-dark", beginner: true },
    { showTitle: true, title: "Anime.js, GSAP, Motion, Framer Motion", icon: "skill-icons:javascript" },
    { showTitle: false, title: "Storybook, histoire", icon: "logos:storybook-icon" },
    { showTitle: false, title: "TanStack Query", icon: "logos:react-query-icon" },
  ],
  [
    { showTitle: true, title: "Vue 2/3", icon: "skill-icons:vuejs-dark" },
    { showTitle: true, title: "Vue Router", icon: "skill-icons:vuejs-dark" },
    { showTitle: true, title: "Pinia (+Pinia Colada)", icon: "skill-icons:pinia-dark" },
    { showTitle: true, title: "Vuex", icon: "skill-icons:vuejs-dark" },
    { showTitle: true, title: "Vue ecosystem", icon: "logos:vueuse" },
    { showTitle: true, title: "Nuxt 2/3", icon: "skill-icons:nuxtjs-dark", beginner: true },
  ],
  [
    { showTitle: true, title: "React", icon: "skill-icons:react-dark" },
    { showTitle: true, title: "React router", icon: "skill-icons:react-dark" },
    { showTitle: true, title: "Redux Toolkit", icon: "skill-icons:redux" },
    { showTitle: true, title: "Effector", icon: "logos:effector", beginner: true },
    { showTitle: true, title: "Reatom", icon: "mdi:database", beginner: true },
    { showTitle: true, title: "React ecosystem", icon: "skill-icons:react-dark" },
    { showTitle: true, title: "Next", icon: "skill-icons:nextjs-dark", beginner: true },
    { showTitle: true, title: "T3 Stack", icon: "skill-icons:nextjs-dark", beginner: true },
  ],
  [
    { showTitle: false, title: "Vite", icon: "skill-icons:vite-dark" },
    { showTitle: false, title: "Parcel", icon: "logos:parcel-icon" },
    { showTitle: false, title: "Rollup", icon: "skill-icons:rollupjs-dark" },
    { showTitle: false, title: "Webpack", icon: "skill-icons:webpack-dark" },
    { showTitle: false, title: "Gulp", icon: "skill-icons:gulp" },
    { showTitle: false, title: "Babel", icon: "skill-icons:babel" },
  ],
  [
    { showTitle: false, title: "ESlint", icon: "logos:eslint" },
    { showTitle: false, title: "Prettier", icon: "logos:prettier" },
    { showTitle: false, title: "Vitest", icon: "skill-icons:vitest-dark" },
    { showTitle: false, title: "Jest", icon: "skill-icons:jest" },
    { showTitle: false, title: "Cypress", icon: "skill-icons:cypress-light", beginner: true },
  ],
  [
    { showTitle: true, title: "Astro", icon: "skill-icons:astro" },
    { showTitle: true, title: "Jekyll", icon: "devicon:jekyll" },
  ],
  [
    { showTitle: false, title: "Node.js", icon: "skill-icons:nodejs-dark" },
    { showTitle: false, title: "PNPM", icon: "skill-icons:npm-dark" },
    { showTitle: false, title: "PNPM", icon: "skill-icons:pnpm-dark" },
    { showTitle: false, title: "Yarn", icon: "skill-icons:yarn-dark" },
    { showTitle: false, title: "Deno", icon: "skill-icons:deno-dark" },
    { showTitle: false, title: "Bun", icon: "skill-icons:bun-dark" },
  ],
  [
    { showTitle: true, title: "REST API", icon: "mdi:access-point-network" },
    { showTitle: true, title: "GraphQL", icon: "skill-icons:graphql-dark", beginner: true },
    { showTitle: true, title: "Jamstack (SSG & CMS)", icon: "logos:jamstack-icon" },
    { showTitle: true, title: "CMS", icon: "mdi:file-edit" },
    { showTitle: false, title: "Supabase", icon: "skill-icons:supabase-dark" },
    { showTitle: false, title: "Firebase", icon: "logos:firebase", beginner: true },
    { showTitle: false, title: "AppWrite", icon: "skill-icons:appwrite" },
    { showTitle: true, title: "NocoDB", icon: "logos:nocodb", beginner: true },
    { showTitle: true, title: "PocketBase, Nhost, Rowy, Teable, Baserow, Undb", icon: "mdi:database", beginner: true },
  ],
  [
    { showTitle: false, title: "Express.js", icon: "skill-icons:expressjs-dark", beginner: true },
    { showTitle: false, title: "Fastify.js", icon: "simple-icons:fastify", beginner: true },
    { showTitle: false, title: "Nest.js", icon: "skill-icons:nestjs-dark", beginner: true },
    { showTitle: true, title: "tRPC и аналоги", icon: "devicon:trpc", beginner: true },
  ],
  [
    { showTitle: false, title: "Postman", icon: "skill-icons:postman", beginner: true },
    { showTitle: false, title: "Hoppscotch", icon: "devicon:hoppscotch" },
    { showTitle: true, title: "ORM, Prisma и аналоги", icon: "skill-icons:prisma", beginner: true },
    { showTitle: false, title: "PostgreSQL", icon: "skill-icons:postgresql-dark", beginner: true },
    { showTitle: false, title: "SQLite", icon: "skill-icons:sqlite", beginner: true },
    { showTitle: false, title: "MySQL", icon: "skill-icons:mysql-dark", beginner: true },
    { showTitle: false, title: "MongoDB", icon: "skill-icons:mongodb", beginner: true },
    { showTitle: false, title: "Redis", icon: "skill-icons:redis-dark", beginner: true },
  ],
  [
    { showTitle: false, title: "Rust", icon: "skill-icons:rust", beginner: true },
    { showTitle: false, title: "Python", icon: "skill-icons:python-dark", beginner: true },
    { showTitle: false, title: "PHP", icon: "skill-icons:php-dark", beginner: true },
    { showTitle: false, title: "Shopify", icon: "logos:shopify", beginner: true },
    { showTitle: false, title: "WordPress", icon: "skill-icons:wordpress" },
    { showTitle: false, title: "Laravel", icon: "skill-icons:laravel-dark", beginner: true },
  ],
  [
    { showTitle: true, title: "Брауз. расширения Manifest V2/V3", icon: "logos:chrome-web-store" },
    { showTitle: true, title: "GrammY.js", icon: "logos:telegram" },
    { showTitle: true, title: "Разработка расширений VSCode", icon: "skill-icons:vscode-dark" },
  ],
  [
    { showTitle: false, title: "Docker", icon: "skill-icons:docker", beginner: true },
    { showTitle: true, title: "CI/CD", icon: "mdi:cog", beginner: true },
    { showTitle: true, title: "Nginx, caddy, Apache", icon: "skill-icons:nginx", beginner: true },
  ],
  [
    { showTitle: false, title: "VSCode", icon: "skill-icons:vscode-dark" },
    { showTitle: false, title: "WebStorm", icon: "skill-icons:webstorm-dark" },
    { showTitle: false, title: "Sublime Text", icon: "skill-icons:sublime-dark" },
    { showTitle: false, title: "Скрипты Bash/Python/Powershell", icon: "skill-icons:bash-dark" },
    { showTitle: false, title: "Windows", icon: "skill-icons:windows-dark" },
    { showTitle: false, title: "Linux", icon: "logos:linux-tux" },
    { showTitle: false, title: "Git", icon: "skill-icons:git" },
    { showTitle: false, title: "GitHub", icon: "skill-icons:github-dark" },
    { showTitle: false, title: "GitLab", icon: "skill-icons:gitlab-dark" },
    { showTitle: false, title: "Jira, Trello", icon: "logos:jira" },
  ],
  [
    { showTitle: false, title: "Figma", icon: "skill-icons:figma-dark" },
    { showTitle: false, title: "Photoshop", icon: "devicon:photoshop", beginner: true },
    { showTitle: false, title: "GIMP", icon: "devicon:gimp" },
  ],
  [
    { showTitle: true, title: "roadmap.sh/backend", beginner: true },
    { showTitle: true, title: "roadmap.sh/frontend" },
  ],
]

interface SkillsData {
  skillsGroups: Skill[][]
  learningSkillsGroups: Skill[][]
}

function filt(conditionFn: (arg: Skill) => boolean) {
  return hardSkillsGroups
    .map((group) => group.filter(conditionFn))
    .filter((group) => group.length > 0)
}

// TODO: rewrite shitcode
const hardSkillsData: SkillsData = {
  skillsGroups: filt((skill) => !(skill.beginner || false)),
  learningSkillsGroups: filt((skill) => skill.beginner || false),
}

type Entries<T> = [keyof T, T[keyof T]][]

const hardSkillsDataEntries = Object.entries(hardSkillsData) as Entries<
  typeof hardSkillsData
>
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="text-center text-3xl min-[400px]:text-4xl">
          Привет! Я<br />
          <span class="text-gradient-my leading-relaxed">Иван Музыка.</span>
        </p>

        <p class="mt-0">
          Я Frontend (изучающий Fullstack и DevOps) разработчик, ищущий работу.
          За спиной более полутора лет опыта коммерческой разработки. Умею и
          люблю работать в команде. Люблю изучать что-то новое и профессионально
          развиваться, если чего-то не знаю - смогу быстро научиться. Могу
          разгребать легаси-код, даже бывало копался в минифицированном
          обфусцированном коде на Jquery.
        </p>

        <ul>
          <li>Формат работы - удалёнщик</li>
          <li>Занятость - полная/проектная</li>
          <li>Ожидания по зарплате - $80/мес, от $40 за проект</li>
          <li>Опыт - 1.5 года коммерции + несколько заказов на фрилансе</li>
        </ul>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Проекты</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>

      <div class="prose mb-8">
        {
          hardSkillsDataEntries.map(
            ([skillsGroupId, skillsGroups]) =>
              skillsGroups.length > 0 && (
                <>
                  <h2 class="mb-4 text-2xl font-medium">
                    {skillsGroupsNamesMap[skillsGroupId]}
                  </h2>
                  <ul
                    class={clsx(
                      'mb-4 list-inside list-none',
                      skillsGroupId === 'learningSkillsGroups' &&
                        'opacity-60 hover:opacity-100',
                    )}
                  >
                    {skillsGroups.map((skillsGroup) => (
                      <>
                        <li class="border-accent/80 border-l-4 border-solid">
                          <span class="inline-flex flex-wrap gap-x-4 gap-y-2">
                            {skillsGroup.map((skill) => (
                              <>
                                <span
                                  class="inline-flex items-center gap-2"
                                  title={skill.title}
                                >
                                  {skill.icon ? (
                                    <Icon
                                      class="inline-block text-[1.4em]"
                                      name={skill.icon}
                                    />
                                  ) : (
                                    ''
                                  )}
                                  {skill.showTitle && skill.title}
                                </span>
                              </>
                            ))}
                          </span>
                        </li>
                      </>
                    ))}
                  </ul>
                </>
              ),
          )
        }
      </div>
    </div>
  </section>
</Layout>
