---
import BlogPost from '@/layouts/BlogPost.astro'

const links = [
  {
    href: 'https://github.com/SeryiBaran',
    title: 'Github',
  },
  {
    href: 'https://gitlab.com/SeryiBaran',
    title: 'GitLab',
  },
  {
    href: 'https://habr.com/ru/users/SeryiBaran6',
    title: 'Habr',
  },
  {
    href: 'https://www.codewars.com/users/SeryiBaran',
    title: 'Codewars',
  },
  {
    href: 'https://qna.habr.com/user/SeryiBaran6',
    title: 'Habr Q&A',
  },
  {
    href: 'https://career.habr.com/seryibaran6',
    title: 'Habr Карьера',
  },
  {
    href: 'https://t.me/ABKTPM',
    title: 'Telegram',
  },
  {
    href: 'https://t.me/ivanchaigroop',
    title: 'Telegram канал',
  },
  {
    href: 'https://www.youtube.com/@seryibaran_official',
    title: 'YouTube',
  },
  {
    href: 'https://vk.com/ivanchai6',
    title: 'ВКонтакте',
  },
  {
    href: 'https://vk.com/ivanchaismeh',
    title: 'ВК Сообщество',
  },
  {
    href: 'https://discord.gg/3zvBzgaw2P',
    title: 'Discord',
  },
  {
    href: 'https://dzen.ru/seryibaran',
    title: 'Дзен',
  },
  {
    href: 'https://ru.stackoverflow.com/users/418945/seryibanana',
    title: 'Ru Stack Overflow',
  },
]
---

<BlogPost
  data={{
    title: 'Контакты',
    description: 'Мои контакты',
  }}
  isShowDate={false}
>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.href}>{link.title}</a>
        </li>
      ))
    }
  </ul>
</BlogPost>
