---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Контакты"
  description="Мои контакты"
  pubDate={new Date("May 24 2023")}
>
  <ul>
    <li><a href="https://youtube.com/@ivanchai">YouTube</a></li>
    <li><a href="https://github.com/SeryiBaran">GitHub</a></li>
    <li><a href="https://gitlab.com/SeryiBaran">GitLab</a></li>
    <li><a href="https://habr.com/ru/users/SeryiBaran6">Habr</a></li>
    <li><a href="https://qna.habr.com/user/SeryiBaran6">Habr Q&A</a></li>
    <li><a href="https://career.habr.com/seryibaran6">Habr Карьера</a></li>
    <li><a href="https://t.me/ABKTPM">Telegram</a></li>
    <li><a href="https://t.me/ivanchaigroop">Telegram канал</a></li>
    <li><a href="https://vk.com/ivanchai6">ВКонтакте</a></li>
    <li><a href="https://vk.com/ivanchaismeh">ВК Сообщество</a></li>
    <li><a href="https://discord.gg/3zvBzgaw2P">Discord</a></li>
    <li>
      <a href="https://yandex.ru/q/profile/y6dm92f22mkqh04h3v4b1rv6er/"
        >Yandex Q</a>
    </li>
    <li><a href="https://dzen.ru/seryibaran">Дзен</a></li>
    <li>
      <a href="https://ru.stackoverflow.com/users/418945/seryibanana"
        >Stack Overflow</a>
    </li>
  </ul>
</Layout>
