---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Все мои контакты",
	title: "Контакты",
};

const links = [
  {
    href: 'https://github.com/SeryiBaran',
    title: 'Github',
  },
  {
    href: 'https://gitlab.com/SeryiBaran',
    title: 'GitLab',
  },
  {
    href: 'https://codeberg.org/SeryiBaran',
    title: 'Codeberg'
  }
  {
    href: 'https://habr.com/ru/users/SeryiBaran6',
    title: 'Habr',
  },
  {
    href: 'https://www.codewars.com/users/SeryiBaran',
    title: 'Codewars',
  },
  {
    href: 'https://qna.habr.com/user/SeryiBaran6',
    title: 'Habr Q&A',
  },
  {
    href: 'https://career.habr.com/seryibaran6',
    title: 'Habr Карьера',
  },
  {
    href: 'https://t.me/ABKTPM',
    title: 'Telegram',
  },
  {
    href: 'https://t.me/seryibaran_channel',
    title: 'Telegram канал',
  },
  {
    href: 'https://www.youtube.com/@seryibaran_official',
    title: 'YouTube',
  },
  {
    href: 'https://vk.com/seryibaran',
    title: 'ВКонтакте',
  },
  {
    href: 'https://discord.gg/3zvBzgaw2P',
    title: 'Discord',
  },
  {
    href: 'https://dzen.ru/seryibaran',
    title: 'Дзен',
  },
  {
    href: 'https://ru.stackoverflow.com/users/418945/seryibanana',
    title: 'Ru Stack Overflow',
  },
]
---

<PageLayout meta={meta}>
	<div>
		<h1 class="title mb-6">Контакты</h1>
		<ul class="mb-4 list-inside list-disc">
      {
        links.map((link) => (
          <li>
            <a class="cactus-link" href={link.href}>{link.title}</a>
          </li>
        ))
      }
      <li>E-Mail: anderchiser COMMERCIAL_AT yandex.ru</li>
      <li>TON coin: <code>UQDeWbPJHeq0FKMcQFuLZGcT8fZRo_12-rvURMooW6-fVxfN</code></li>
      <li>USDT TRC20 coin: <code>TLYwhKbDjzyxFcf2GE6gumjH1ih8tvWbEb</code></li>
      <li>Bitcoin: <code>3EgRK6VX1kET5oGjZkwqbbqmNXCKyFGehE</code></li>
    </ul>
	</div>
</PageLayout>
