---
import { readAll } from "../lib/markdoc/read";
import { project } from "../lib/markdoc/frontmatter.schema";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { Icon } from 'astro-icon';

const contacts = [
  { name: "YouTube", url: "https://youtube.com/@ivanchai" },
  { name: "GitHub", url: "https://github.com/SeryiBaran" },
  { name: "GitLab", url: "https://gitlab.com/SeryiBaran" },
  { name: "Habr", url: "https://habr.com/ru/users/SeryiBaran6" },
  { name: "Habr Q&A", url: "https://qna.habr.com/user/SeryiBaran6" },
  { name: "Habr Карьера", url: "https://career.habr.com/seryibaran6" },
  { name: "Telegram", url: "https://t.me/ABKTPM" },
  { name: "Telegram канал", url: "https://t.me/ivanchaigroop" },
  { name: "ВКонтакте", url: "https://vk.com/ivanchai6" },
  { name: "ВК Сообщество", url: "https://vk.com/ivanchaismeh" },
  { name: "Discord", url: "https://discord.gg/3zvBzgaw2P" },
  // { name: "Дать рублик (Не работает в России!!!)", url: "https://www.donationalerts.com/r/seryibaran" },
  { name: "Yandex Q", url: "https://yandex.ru/q/profile/y6dm92f22mkqh04h3v4b1rv6er/" },
  { name: "Дзен", url: "https://dzen.ru/seryibaran" },
  { name: "Stack Overflow", url: "https://ru.stackoverflow.com/users/418945/seryibananan"},
  { name: "undefined", url: "https://t.me/+XpDWVl2pW8xhZDAy/" },
];
---

<BaseLayout>
  <PageMeta title="Контакты" slot="meta" />
  <section slot="main">
    <ul>
      { contacts.map((contact) => { return (
      <li
        class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start"
      >
        <div class="title">
          <a
            href="{contact.url}"
            target="_blank"
            class="unset hover:text-text-link"
          >
            <span>{contact.name}</span>
            <span class="ml-1 mr-1 text-[16px] pb-2">
              <Icon pack="mdi" name="external-link" class="w-4 inline" />
            </span>
          </a>
        </div>
      </li>
      )})}
    </ul>
  </section>
</BaseLayout>
