---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'

const links = [
  {
    href: 'https://github.com/SeryiBaran',
    title: 'Github',
    icon: 'simple-icons:github',
  },
  {
    href: 'https://gitlab.com/SeryiBaran',
    title: 'GitLab',
    icon: 'logos:gitlab',
  },
  {
    href: 'https://codeberg.org/SeryiBaran',
    title: 'Codeberg',
    icon: 'logos:git-icon',
  },
  {
    href: 'https://habr.com/ru/users/SeryiBaran6',
    title: 'Habr',
    icon: 'simple-icons:habr',
  },
  {
    href: 'https://www.codewars.com/users/SeryiBaran',
    title: 'Codewars',
    icon: 'simple-icons:codewars',
  },
  {
    href: 'https://qna.habr.com/user/SeryiBaran6',
    title: 'Habr Q&A',
    icon: 'simple-icons:habr',
  },
  {
    href: 'https://career.habr.com/seryibaran6',
    title: 'Habr Карьера',
    icon: 'simple-icons:habr',
  },
  {
    href: 'https://t.me/ABKTPM',
    title: 'Telegram',
    icon: 'logos:telegram',
  },
  {
    href: 'https://t.me/seryibaran_channel',
    title: 'Telegram канал',
    icon: 'logos:telegram',
  },
  {
    href: 'https://www.youtube.com/@seryibaran_official',
    title: 'YouTube',
    icon: 'logos:youtube-icon',
  },
  {
    href: 'https://vk.com/seryibaran',
    title: 'ВКонтакте',
    icon: 'simple-icons:vk',
  },
  {
    href: 'https://discord.gg/3zvBzgaw2P',
    title: 'Discord',
    icon: 'logos:discord-icon',
  },
  {
    href: 'https://dzen.ru/seryibaran',
    title: 'Дзен',
    icon: 'mdi:web',
  },
  {
    href: 'https://ru.stackoverflow.com/users/418945/seryibanana',
    title: 'Ru Stack Overflow',
    icon: 'logos:stackoverflow-icon',
  },
]
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8"></div>

      <h2 class="mb-4 text-2xl font-medium">Контакты</h2>
      <div class="flex flex-col gap-4">
        <ul class="list-disc">
          {
            links.map((link) => (
              <li>
                {link.icon ? (
                  <span class="mr-2 inline-block w-[1.5em]">
                    <Icon
                      class="inline-block max-w-full text-[1.5em]"
                      name={link.icon}
                    />
                  </span>
                ) : (
                  ''
                )}
                <Link href={link.href} external underline>
                  {link.title}
                </Link>
              </li>
            ))
          }
          <li>
            <Icon class="inline-block text-[1.5em]" name="mdi:email" /> E-Mail: anderchiser
            COMMERCIAL_AT yandex.ru
          </li>
          <li>
            <Icon class="inline-block text-[1.6em]" name="token-branded:ton" /> TON:
            <code>UQDA2orjI-UOVDEP2R7RQUzv8P3ahfq34ZmYnALV0IX9Lp5L</code>
          </li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
