---
import BlogPost from '@/layouts/BlogPost.astro'
---

<BlogPost data={{ title: 'Главная' }}>
  <p>Я Иван Музы́ка, начинающий Frontend разработчик.</p>

  <p>Это мой личный сайт.</p>

  <p>
    Все мои контакты находятся на странице <a href="/contacts">Контакты</a>.
  </p>

  <p>
    Вся информация о IT навыках и портфолио - на <a
      href="https://github.com/SeryiBaran">Github</a
    >.
  </p>
  <a
    href="https://github.com/SeryiBaran/seryibaran.github.io/actions/workflows/deploy.yml"
  >
    <img
      src="https://github.com/SeryiBaran/seryibaran.github.io/actions/workflows/deploy.yml/badge.svg"
      alt="GitHub Pages deploy badge"
      class="no-border-img"
    />
  </a>
</BlogPost>
