---
import { AUTHOR_BIRTHDAY } from '@/consts'
import BlogPost from '@/layouts/BlogPost.astro'
import dayjs from 'dayjs'
import Alert from '@/components/Alert.astro'

const authorAge = dayjs().diff(dayjs(AUTHOR_BIRTHDAY), 'year')
---

<BlogPost data={{ title: 'Главная' }}>
  <Alert
    >Внимание! Мой VK аккаунт <a href="https://vk.com/ivanchai6">@ivanchai6</a> скоро
    удалится, т.к. у меня нет доступа к номеру телефона. Теперь у меня другой VK
    аккаунт на другом телефоне, он указан на странице <a href="/contacts"
      >Контакты</a
    >.</Alert
  >
  <p>
    Я Иван Музы́ка, мне {authorAge} лет и я начинающий (а может быть и нет 😉) Frontend
    разработчик.
  </p>

  <p>
    Все мои контакты находятся на странице <a href="/contacts">Контакты</a>.
    Наиболее я активен в Telegram.
  </p>

  <p>
    Вся информация о IT навыках и портфолио - на <a
      href="https://github.com/SeryiBaran">моем Github</a
    >.
  </p>
  <a
    href="https://github.com/SeryiBaran/seryibaran.github.io/actions/workflows/deploy.yml"
  >
    Github репозиторий этого сайта
  </a>
  <p>
    <!--RadioKOT button-->
    <a href="https://www.radiokot.ru/">
      <img
        src="https://www.radiokot.ru/files/button.gif"
        width="88"
        height="31"
        border="0"
        hspace="0"
        vspace="0"
        alt="РадиоКОТ - популярно об электронике. Авторские схемы, новые разработки. Обучение по электронике, микроконтроллерам, ПЛИС. Форум"
      />
    </a>
    <!--End of RadioKOT button-->
  </p>
</BlogPost>
