---
import { AUTHOR_BIRTHDAY } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'
import dayjs from 'dayjs'
import Alert from '@/components/Alert.astro'

const authorAge = dayjs().diff(dayjs(AUTHOR_BIRTHDAY), 'year')
---

<PageLayout
  data={{
    title: 'Главная',
    slug: 'page__index',
  }}
>
  <Alert>
    Мой VK аккаунт <a href="https://vk.com/ivanchai6">@ivanchai6</a> скоро удалится,
    т.к. у меня нет доступа к номеру телефона. Теперь у меня другой VK аккаунт на
    другом телефоне, он указан на странице{' '}
    <a href="/contacts">Контакты</a>.
  </Alert>

  <p>
    Я Иван Музы́ка, мне {authorAge} лет и я начинающий (а может быть и нет 😉) Frontend
    разработчик.
  </p>

  <p>
    Вся инфа о моих проектах и навыках находится на странице <a href="/readme"
      >README</a
    >.
  </p>

  <p>
    Все мои контакты находятся на странице <a href="/contacts">Контакты</a>.
    Наиболее я активен в Telegram.
  </p>
</PageLayout>
