---
import { readAll } from "../lib/markdoc/read";
import { project } from "../lib/markdoc/frontmatter.schema";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageMeta from "../components/PageMeta.astro";

const projects = await readAll({
  directory: "portfolio",
  frontmatterSchema: project,
});

const sortedProjects = projects
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<BaseLayout>
  <PageMeta title="Проекты" slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedProjects.map((project) => {
          const formattedDate = new Date(
            project.frontmatter.date
          ).toLocaleDateString("ru-ru", {
            year: "numeric",
            month: "long",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={project.frontmatter.url}
                  target="_blank"
                  class="unset hover:text-text-link"
                >
                  <span>{project.frontmatter.title}</span>
                  <span class="ml-1 mr-1 text-[16px] pb-2">
                    <span class="iconify inline" data-icon="mdi:external-link"></span>
                  </span>
                </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={project.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</BaseLayout>
