---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import PostsList from "../components/PostsList.astro";
---

<BaseLayout>
  <PageMeta title="Посты" slot="meta" />
  <section slot="main">
    <PostsList />
  </section>
</BaseLayout>
