---
import PageLayout from '@/layouts/PageLayout.astro'
---

<PageLayout
  data={{
    title: 'README',
    slug: 'page__readme',
    description: 'Мои проекты, навыки и т.д.',
  }}
>
  <h2>Что я умею</h2>

  <ol>
    <li>HTML</li>
    <li>CSS3, SASS, PostCSS, Tailwind, UnoCSS</li>
    <li>JavaScript, TypeScript</li>
    <li>Vue.js, Pinia</li>
    <li>ESlint, Prettier</li>
    <li>Vite, Rollup, Vitest, Jest</li>
    <li>Astro</li>
    <li>Расширения - Manifest V2/V3, Telegram боты - GrammY.js</li>
    <li>Терминал, Git, PowerShell, Bash</li>
    <li>
      Написать по памяти <code
        >3.141592653589793238462643383279502884197169399</code
      >
    </li>
    <!-- 3.141592653589793238462643383279502884197169399 -->
  </ol>

  <h2>Что я <del>на</del>делал/форкнул</h2>

  <ul>
    <li>
      <a href="https://github.com/SeryiBaran/maket-web-dev-project"
        >Макет &quot;Web Development Project&quot;</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/maket-agency"
        >Макет &quot;Agency&quot;</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/telehumpter"
        >Пародия на Twitter - Telehumpter</a
      >
    </li>
    <li><a href="https://github.com/SeryiBaran/todo-vue">Todo на Vue</a></li>
    <li>
      <a href="https://github.com/f5ociety/Bridge-of-Liberty"
        >Сайт для проекта Мост Свободы</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/Privacy-Search-Companion"
        >Firefox расширение Privacy Search Companion</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/SBStartpage"
        >Простая стартовая страница для браузера</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/PSC-site"
        >Сайт для проекта Privacy Search Companion</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/seryibaran.github.io">Свой сайт</a>
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/generated-calc"
        >Генератор немного неоптимизированного калькулятора</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/tailvue-starter"
        >Стартовый шаблон Vue + TypeScript</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/yt-dlp-python-gui"
        >GUI для Yt-dlp</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/ffmpeg_installer"
        >Установщик FFmpeg для Windows</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/snowbowles-script"
        >Транспилируемый язык программирования &quot;snowbowles-script
        (SNOWBOWLEScript)&quot;</a
      >
    </li>
    <li>
      <a href="https://github.com/SeryiBaran/encoding-visualization"
        >Визуализация текста в разных кодировках в терминале</a
      >
    </li>
    <li>
      TG боты<ul>
        <li>
          <a href="https://github.com/SeryiBaran/telegram-clicker"
            >Игра-кликер в виде TG бота (DEPRECATED)</a
          > (и её <a href="https://github.com/seryibaran/teleclicker-web"
            >порт в Web</a
          >)
        </li>
        <li>
          <a href="https://github.com/SeryiBaran/code-colorizer-bot"
            >TG бот создающий красивый скриншот кода из сообщения</a
          >
        </li>
      </ul>
    </li>
    <li>
      Docker<ul>
        <li>
          <a href="https://github.com/SeryiBaran/drone-gitea-on-docker"
            >Форк примера Gitea + Drone</a
          >
        </li>
      </ul>
    </li>
    <li>
      Электроника<ul>
        <li>
          <a href="https://github.com/SeryiBaran/ardustat"
            >Термостат на Arduino</a
          >
        </li>
      </ul>
    </li>
    <li>
      VSCode<ul>
        <li>
          <a href="https://github.com/SeryiBaran/platformio-big-buttons"
            >Большие удобные кнопки для PlatformIO</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <p>
    И ещё много интересного/неинтересного <a
      href="https://github.com/SeryiBaran?tab=repositories">тут</a
    >.
  </p>

  <h2>Число Pi которое я знаю на баркодах (Ну с ума я сошел, да, и что?)</h2>

  <img src="/pi_barcodes/code_128__pi.png" />
  <em>Code 128</em>

  <img src="/pi_barcodes/data_matrix__pi.png" />
  <em>Data Matrix</em>

  <img src="/pi_barcodes/qr__pi.png" />
  <em>QR</em>

  <h2>Всякое</h2>

  <img src="/pi_barcodes/qr__pi__1000_after_dot.png" />
  <em>QR числа пи c 1000 знаками после запятой</em>
</PageLayout>
