---
import PageLayout from '@/layouts/PageLayout.astro'
import Alert from '@/components/Alert.astro'

const alertsTypes: (
  | 'simple'
  | 'primary'
  | 'info'
  | 'warning'
  | 'error'
  | 'success'
)[] = ['simple', 'primary', 'info', 'warning', 'error', 'success']
---

<PageLayout
  data={{
    title: 'Тест',
    description: 'Тест',
    slug: 'page__test',
  }}
>
  {
    alertsTypes.map((type) => (
      <Alert type={type}>
        Мой VK аккаунт <a href="https://vk.com/ivanchai6">@ivanchai6</a> скоро
        удалится, т.к. у меня нет доступа к номеру телефона. Теперь у меня
        другой VK аккаунт на другом телефоне, он указан на странице{' '}
        <a href="/contacts">Контакты</a>.
      </Alert>
    ))
  }

  <p>test</p>
</PageLayout>
