---
import BlogPost from '@/layouts/BlogPost.astro'
import QRCodeGen from '@/components/QRCodeGen.astro'
---

<BlogPost
  data={{
    title: 'Тест',
    description: 'Тест',
  }}
  isShowDate={false}
>
  <p>test</p>
  <QRCodeGen content="https://seryibaran.github.io" />
  <QRCodeGen
    sizeProp="medium"
    content=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quia nesciunt impedit hic suscipit ad ex tempora officia error maxime nemo dolorem, voluptates voluptatum quisquam, incidunt sequi aut quasi delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit."
  />
  <QRCodeGen
    sizeProp="big"
    content="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quia nesciunt impedit hic suscipit ad ex tempora officia error maxime nemo dolorem, voluptates voluptatum quisquam, incidunt sequi aut quasi delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quia nesciunt impedit hic suscipit ad ex tempora officia error maxime nemo dolorem, voluptates voluptatum quisquam, incidunt sequi aut quasi delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quia nesciunt impedit hic suscipit ad ex tempora officia error maxime nemo dolorem, voluptates voluptatum quisquam, incidunt sequi aut quasi delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quia nesciunt impedit hic suscipit ad ex tempora officia error maxime nemo dolorem, voluptates voluptatum quisquam, incidunt sequi aut quasi delectus."
  />
</BlogPost>
