---
---

<script lang="ts">
  function waitForElm(selector) {
    return new Promise(resolve => {
      if (document.querySelector(selector)) {
        return resolve(document.querySelector(selector));
      }

      const observer = new MutationObserver(mutations => {
        if (document.querySelector(selector)) {
          resolve(document.querySelector(selector));
          observer.disconnect();
        }
      });

      observer.observe(document.body, {
        childList: true,
        subtree: true,
      });
    });
  }
  waitForElm(".comments").then(commentsBlock => {
    const origin = "https://giscus.app";
    const iframe = "iframe.giscus-frame";
    const lightTheme = "light";
    const darkTheme = "dark_dimmed";
    let initTheme = lightTheme;

    if (
      document.querySelector("html[data-theme=dark]") ||
      (!document.querySelector("html[data-theme]") &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      initTheme = darkTheme;
    }

    const giscusAttributes = {
      src: "https://giscus.app/client.js",
      "data-repo": "SeryiBaran/seryibaran.github.io-COMMENTS",
      "data-repo-id": "R_kgDOHhoqtA",
      "data-category": "General",
      "data-category-id": "DIC_kwDOHhoqtM4CPwYn",
      "data-mapping": "pathname",
      "data-strict": "0",
      "data-reactions-enabled": "1",
      "data-emit-metadata": "0",
      "data-input-position": "top",
      "data-theme": initTheme,
      "data-lang": "ru",
      crossorigin: "anonymous",
      async: "",
    };

    const giscusScript = document.createElement("script");
    Object.entries(giscusAttributes).forEach(([key, value]) =>
      giscusScript.setAttribute(key, value)
    );
    commentsBlock.appendChild(giscusScript);

    const observer = new MutationObserver(mutationRecords => {
      if (mutationRecords[0].attributeName === "data-theme") {
        const frameElement = document.querySelector("iframe.giscus-frame");

        const theme = document.querySelector("html").dataset.theme === "dark" ? darkTheme : lightTheme

        const giscus = frameElement.contentWindow;

        giscus.postMessage(
          {
            giscus: {
              setConfig: {
                theme: document.querySelector("html").dataset.theme,
              },
            },
          },
          "https://giscus.app"
        );
      }
    });

    observer.observe(document.querySelector("html"), {
      attributes: true,
    });
  });
</script>

<div class="comments">
</div>
