---
interface Props {
  article?: boolean
}

const { article = true } = Astro.props
---

<div
  class="border-primary-800 dark:border-primary-200 border-t-1px border-t-solid my-2 opacity-40"
  class:list={[{ article }]}
>
</div>

<style>
  div.article {
    @apply border-primary-400 border-2px mx-auto max-w-md my-10;
  }
</style>
