---
interface Props {
  article?: boolean
}

const { article = true } = Astro.props
---

<div
  class="border-neutral-800 dark:border-neutral-200 border-t-1px border-t-solid my-2"
  class:list={[{ article }]}
>
</div>

<style>
  div.article {
    @apply border-neutral-400 border-2px mx-auto max-w-md my-10;
  }
</style>
