---
import dayjs from 'dayjs'
import { SITE_START } from '@/consts'
import { formatPostDate } from '@/utils'

const lastGenerationTime = formatPostDate(new Date(), true)
---

<footer class="bg-primary/10">
  <div class="container">
    <p class="mt-none">
      ~{formatPostDate(SITE_START)}-{dayjs().year()}, SeryiBaran.
    </p>
    <p>
      Последнее обновление сайта - {lastGenerationTime}.
    </p>
    <p>
      <a href="https://github.com/SeryiBaran/seryibaran.github.io"
        >Github репозиторий этого сайта</a
      >.
    </p>
  </div>
</footer>
