---
import TablerHome from '~icons/tabler/home'
import TablerFileText from '~icons/tabler/file-text'
import TablerMail from '~icons/tabler/mail'

import { SITE_TITLE } from '../consts'

const links = [
  { href: '/', title: 'Главная', icon: TablerHome },
  { href: '/posts', title: 'Посты', icon: TablerFileText },
  { href: '/contacts', title: 'Контакты', icon: TablerMail },
]

const { pathname } = Astro.url
---

<header>
  <div
    class="container flex flex-col sm:flex-row gap-4 text-center sm:text-start"
  >
    <a href="/" class="link_without_effects ma sm:m-0 inline-flex items-center">
      <img
        src="/favicons/icons/icon-72x72.png"
        alt="Лого"
        class="rounded-full h-52px w-52px"
      />
    </a>
    <div class="line-height-loose">
      <a href="/" class="text-xl link_without_effects ma sm:m-0">
        {SITE_TITLE}
      </a>
      <nav>
        {
          links.map((link) => (
            <a
              href={link.href}
              class="inline-flex items-center decoration-none link_without_visited_color gap-1"
              class:list={[
                {
                  isActive:
                    link.href === pathname ||
                    link.href === pathname.replace(/\/$/, ''),
                },
              ]}
            >
              <link.icon class="inline w-1em h-1em" />
              {link.title}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>

<style>
  a.isActive {
    @apply font-bold underline;
  }
</style>
