---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex max-sm:flex-col gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Главная</HeaderLink></li>
        <li><HeaderLink href="/about">О сайте</HeaderLink></li>
        <li><HeaderLink href="/posts">Посты</HeaderLink></li>
        <li><HeaderLink href="/contacts">Контакты</HeaderLink></li>
        <li><HeaderLink href="/portfolio">Портфолио</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="max-[375px]:hidden justify-self-end flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://github.com/SeryiBaran/seryibaran.github.io"
    >
      <span class="iconify text-[26px]" data-icon="mdi:github"></span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
