---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="mb-8">
  <p class="text-xl">
    {SITE_TITLE}
  </p>
  <nav>
    <HeaderLink href="/">Главная</HeaderLink>
    <HeaderLink href="/posts">Посты</HeaderLink>
    <HeaderLink href="/contacts">Контакты</HeaderLink>
  </nav>
</header>
