---
import Posts from "../components/Posts.astro";
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        SeryiBaran
      </span>
    </h1>
    <p class="text-2xl pb-4">Frontend разработчик</p>
  </div>
  <div class="mb-6">
    <p>
      Больше всего я активен в Telegram.<br />

      Информация обо мне и о сайте - <a href={"/about"} target="_blank">здесь</a>
    </p>
  </div>
  <h2 class="text-4xl">Посты</h2>
  <Posts />
</section>
