<p class="embed-container">
  <video src="{{ page.uploads }}/{{ include.path }}" controls></video>
</p>

<!-- <p class="embed-container">
  <video
    class="video-js vjs-theme-sea"
    controls
    preload="auto"
    data-setup="{}"
  >
    <source src="{{ page.uploads }}/{{ include.path }}" type="video/mp4" />
    <p class="vjs-no-js">
      Чтобы просмотреть это видео, пожалуйста, включите JavaScript и подумайте об обновлении до веб-браузера, который
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >поддерживает HTML5 видео</a
      >
    </p>
  </video>
</p> -->
