<!-- Feel free to change the width and height to your desired video size. -->
<!-- OLD Version (USE NEW VERSION)

<p class="embed-container">
  <iframe
      src="https://clips.twitch.tv/embed?clip={{ include.id }}"
      height="360"
      width="640"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true">
  </iframe>
</p>

-->

<!-- NEW Version -->

<p class="embed-container">
  <iframe
      src="https://clips.twitch.tv/embed?clip={{ include.id }}&parent={{ include.domain }}"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true">
  </iframe>
</p>
