---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Main from '@/components/Main.astro'
import TablerArrowUp from '~icons/tabler/arrow-up'
import { SITE_DESCRIPTION } from '../consts'

interface Props {
  title: string
  description?: string | undefined
  image?: string | undefined
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead
      title={title}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
  </head>
  <body id="home">
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
    <a
      href="#home"
      class="fixed right-10 bottom-10 p-4 rounded-full bg-primary-500 link_without_effects hidden md:block"
      aria-label="Вернуться наверх"
      title="Вернуться наверх"
      ><TablerArrowUp class="block text-3xl text-white" /><span class="hidden"
        >Наверх</span
      ></a
    >
    <div
      class="fixed right-4 bottom-4 border border-solid border-primary bg-neutral/10 backdrop-blur hidden md:block overflow-hidden"
    >
      <div
        class="lol w-[8px] h-[8px] hover:w-120 hover:h-120 hover:p-2 overflow-hidden relative"
      >
        <h2>Инструменты разраба</h2>
        <ul>
          <li>
            <a
              href="/meme3"
              class="w-[128px] h-[20px] bg-gradient-to-br from-red to-blue link_without_effects inline-block"
              >хыхы3</a
            >
          </li>
          <li>
            <a
              href="/meme3_360p.mp4"
              class="w-[128px] h-[20px] bg-gradient-to-br from-red to-blue link_without_effects inline-block"
              >хыхы9</a
            >
          </li>
          <li>
            <a
              href="/test"
              class="w-[128px] h-[20px] bg-gradient-to-br from-red to-blue link_without_effects inline-block"
              >тесты</a
            >
          </li>
          <li>
            <a
              href="/meme4.jpg"
              class="w-[128px] h-[20px] bg-gradient-to-br from-violet to-green link_without_effects inline-block"
              >хыхы4</a
            >
          </li>
          <li>
            <a
              href="/meme5.jpg"
              class="w-[128px] h-[20px] bg-gradient-to-br from-violet to-green link_without_effects inline-block"
              >хыхы5</a
            >
          </li>
          <li>
            <a
              href="/meme6.jpg"
              class="w-[128px] h-[20px] bg-gradient-to-br from-violet to-green link_without_effects inline-block"
              >хыхы6</a
            >
          </li>
          <li>
            <a
              href="/meme7.jpg"
              class="w-[128px] h-[20px] bg-gradient-to-br from-violet to-green link_without_effects inline-block"
              >хыхы7</a
            >
          </li>
        </ul>
      </div>
    </div>
    <script>
      // meme1
      const css = `:where(*>*, ul>li, ol>li):nth-child(1n) {
      color: rgb(248 113 113);
    }
    
    :where(*>*, ul>li, ol>li):nth-child(2n) {
      color: rgb(251 146 60);
    }
    
    :where(*>*, ul>li, ol>li):nth-child(3n) {
      color: rgb(250 204 21);
    }
    
    :where(*>*, ul>li, ol>li):nth-child(4n) {
      color: rgb(74 222 128);
    }
    
    :where(*>*, ul>li, ol>li):nth-child(5n) {
      color: rgb(56 189 248);
    }
    
    :where(*>*, ul>li, ol>li):nth-child(6n) {
      color: rgb(96 165 250);
    }
    
    :where(*>*, ul>li, ol>li):nth-child(7n) {
      color: rgb(167 139 250);
    }
    
    :where(*>*, ul>li, ol>li) a {
      color: inherit !important;
    }
    
    *:not(.katex-display):not(.katex-display *) {
      font-family: 'Comic Sans MS';
    }
      
    
    .lol {
      display: block;
      width: 110px;
      height: 110px;
      padding: 0.5rem;
    }
    
    `

      const month = 4 - 1
      const day = 1

      // const month = new Date().getMonth()
      // const day = new Date().getDate()

      const todayDate = new Date()

      if (todayDate.getMonth() === month && todayDate.getDate() === day) {
        document.querySelector('header')!.outerHTML +=
          `<h2>С первым апреля, хыхыхыха Ахыа хыХ Азхыа ывщо шашщ ыпр шгщ</h2>`
        document.body.innerHTML += `<style>${css}</style>`
      }

      // meme8
      if (
        navigator.userAgent.includes('Linux') &&
        navigator.userAgent.includes('Firefox') &&
        !navigator.userAgent.includes('Android')
      ) {
        document.body.innerHTML += `
        <style>
          body {
            background-image: url('/meme8.png');
          }
        </style>`
      }
    </script>
  </body>
</html>
