---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  date: Date;
  image?: string;
}

const { title, date, image } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("ru-ru", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout>
  <slot slot="meta" name="meta" />
  <section slot="main" class="blog-post prose max-w-none prose-sleek">
    <h1 class="m-0 mb-[0.25em]">{title}</h1>
    <time class="block mb-[2em] text-text-muted">{formattedDate}</time>
    {!!image && <img src={image} alt="Превью">}
    <slot name="content" />
  </section>
</BaseLayout>
